{% assign meting = site.data.meng.music_player %}
<style>
.music-card {
	position:fixed;
	top:calc((100vh - 386px) / 2);
	left:0;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	z-index:999;
	transition:transform .7s ease
}
.aplayer {
	line-height:initial;
	position:relative;
	margin:0;
	background:#fff;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,.3),2px 2px 4px 0 rgba(0,0,0,.2),4px 4px 8px 0 rgba(0,0,0,.1);
	border-radius:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	overflow:hidden
}
@media screen and (min-width:401px) {
	.aplayer {
		width:360px
	}
}
@media screen and (min-width:361px) and (max-width:400px) {
	.aplayer {
		width:320px
	}
}
@media screen and (min-width:321px) and (max-width:360px) {
	.aplayer {
		width:280px
	}
}
@media screen and (max-width:320px) {
	.aplayer {
		width:auto
	}
}
.aplayer .aplayer-body {
	position:relative;
	box-shadow:0 1px 2px 0 rgba(0,0,0,.2),0 2px 5px 0 rgba(0,0,0,.1)
}
.aplayer.aplayer-withlist .aplayer-info {
	border-bottom:none
}
.aplayer .aplayer-list {
	-webkit-overflow-scrolling:touch;
}
.aplayer .aplayer-list ol li {
	position:relative;
	height:32px;
	line-height:32px;
	padding:0 15px;
	font-size:12px;
	border-top:1px solid #e9e9e9;
	cursor:pointer;
	transition:all .7s ease;
	overflow:hidden;
	margin:0
}
.aplayer .aplayer-list ol li:hover {
	background:linear-gradient(to right,#e9e9e9,#f0f0f0,#f9f9f9,#fefefe)
}
.aplayer .aplayer-list ol li:after {
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	pointer-events:none;
	background-image:radial-gradient(circle, #878787 10%, transparent 10.01%);
	background-repeat:no-repeat;
	background-position:50%;
	transform:scale(10, 10);
	opacity:0;
	transition:transform .7s, opacity 1s
}
.aplayer .aplayer-list ol li:active:after {
	transform:scale(0, 0);
	opacity:.2;
	transition:0s
}
.aplayer .aplayer-list ol li.aplayer-list-light {
	background:linear-gradient(to right,#e9e9e9,#f0f0f0,#f9f9f9,#fefefe)
}
.music-btn {
	width:20px;
	height:90px;
	position:relative;
	overflow:hidden;
	right:0;
	bottom:0;
	box-sizing:border-box;
	box-shadow:1px 1px 2px 0 rgba(0,0,0,.32),2px 2px 4px 0 rgba(0,0,0,.22),4px 4px 8px 0 rgba(0,0,0,.12);
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	background:{{meting.btn_color}};
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.music-btn .btn-indicator {
	width:12px;
	height:12px;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTIuMDA0IDQ5Mi4wMDQiPjxwYXRoIGQ9Ik0zODIuNjc4IDIyNi44MDRMMTYzLjczIDcuODZDMTU4LjY2NiAyLjc5MiAxNTEuOTA2IDAgMTQ0LjY5OCAwcy0xMy45NjggMi43OTItMTkuMDMyIDcuODZsLTE2LjEyNCAxNi4xMmMtMTAuNDkyIDEwLjUwNC0xMC40OTIgMjcuNTc2IDAgMzguMDY0TDI5My4zOTggMjQ1LjlsLTE4NC4wNiAxODQuMDZjLTUuMDY0IDUuMDY4LTcuODYgMTEuODI0LTcuODYgMTkuMDI4IDAgNy4yMTIgMi43OTYgMTMuOTY4IDcuODYgMTkuMDRsMTYuMTI0IDE2LjExNmM1LjA2OCA1LjA2OCAxMS44MjQgNy44NiAxOS4wMzIgNy44NnMxMy45NjgtMi43OTIgMTkuMDMyLTcuODZMMzgyLjY3OCAyNjVjNS4wNzYtNS4wODQgNy44NjQtMTEuODcyIDcuODQ4LTE5LjA4OC4wMTYtNy4yNDQtMi43NzItMTQuMDI4LTcuODQ4LTE5LjEwOHoiIGZpbGw9IiNkZWRlZGUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
	transform:rotate(180deg);
	transition:transform .7s ease
}
@media screen and (max-width:600px) {
	.music-card {
		transform:translateX(calc(-100% + 20px))
	}
	.music-btn .btn-indicator {
		transform:rotate(0deg)
	}
}
@media screen and (max-height:600px) {
	.music-card {
		top:64px;
	}
}
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/meting@2.0.1/dist/Meting.min.js"></script>
<div class="music-card">
	<meting-js
		server="{{meting.server}}"
		type="{{meting.type}}"
		id="{{meting.id}}"
		autoplay="{{meting.autoplay}}"
		theme="{{meting.theme}}"
		loop="{{meting.loop}}"
		order="{{meting.order}}"
		preload="{{meting.preload}}"
		volume="{{meting.volume}}"
		mutex="{{meting.mutex}}"
		list-folded="true"
		list-max-height="296px"
		storage-name="metingjs">
	</meting-js>
	<div class="music-btn">
		<div class="btn-indicator"></div>
	</div>
</div>
<script type="text/javascript">
(function($) {
  if ($("head:has(#aplayer-style)").length == 0) {
    let aplayerStyle = $("<link>");
    aplayerStyle.attr({
      id: "aplayer-style",
      rel: "stylesheet",
      type: "text/css",
      href: "//cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css"
    });
    $(aplayerStyle).appendTo("head");
  }
  $(document).ready(function() {
    $(".aplayer-list").addClass("aplayer-list-hide");
    let flag = null;
    if ($(window).width() >= 600) {
      flag = true;
    } else {
      flag = false;
    }
    $(".music-btn").click(function(e) {
      const time = 700;
      $(this).prop("disabled", true);
      const wave = $("<div>").css({
        position: "absolute",
        display: "block",
        zIndex: "1",
        background: "{{meting.ripple_color}}",
        opacity: "1",
        borderRadius: "50%",
        overflow: "hidden",
        pointerEvents: "none",
        transition: `all ${time}ms`,
        transform: "translate3d(0, 0, 0) scale(0)",
      }).appendTo(this);
      const width = parseInt($(this).innerWidth());
      const height = parseInt($(this).innerHeight());
      const diameter = Math.max(
        Math.pow((Math.pow(height, 2) + Math.pow(width, 2)), 0.5), 48
      );
      const center = {
        x: e.pageX - $(this).offset().left,
        y: e.pageY - $(this).offset().top
      };
      const translate = {
        width: `${diameter * 2}px`,
        height: `${diameter * 2}px`,
        top: `${center.y - diameter}px`,
        left: `${center.x - diameter}px`,
        opacity: "0",
        transform: `translate3d(${(-center.x + width / 2)}px, ${(-center.y + height / 2)}px, 0) scale(1)`
      };
      $(wave).css(translate, setTimeout(() => {
        $(wave).remove();
        $(this).prop("disabled", false);
      }, time));
      if (flag == true) {
        $(".music-card").css("transform", "translateX(calc(-100% + 20px))");
        $(".btn-indicator").css("transform", "rotate(0deg)");
        flag = false;
      } else if (flag == false) {
        $(".music-card").css("transform", "translateX(0px)");
        $(".btn-indicator").css("transform", "rotate(180deg)");
        flag = true;
      }
      if (!$(".aplayer-list").hasClass("aplayer-list-hide")) {
        $(".aplayer-list").addClass("aplayer-list-hide");
      }
    });
  });
  document.addEventListener(
    "visibilitychange",
    function() {
      if (document.visibilityState == "hidden") {
        ap.pause();
      }
      if (document.visibilityState == "visible") {
        ap.play();
      }
    },
    false
  );
})(jQuery);
</script>