<script id="password" type="text/javascript">
(function() {
  var key = "{% if page.password == "" or page.password == null %}{% else %}{{ page.password }}{% endif %}";
  var promptBox = "{% if page.prompt == "" or page.prompt == null %}此页面已设置了密码，输入正确的密码后才能继续！{% else %}{{ page.prompt }}{% endif %}";
  if (key != false) {
    document.onkeydown = function() {
      var e = window.event || arguments[0];
      if (e.keyCode == 123) {
        return false;
      } else if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        return false;
      } else if (e.shiftKey && e.keyCode == 121) {
        return false;
      }
    };
    document.oncontextmenu = function() {
      return false;
    };
    function password() {
      var i = 1;
      var passwd = prompt(promptBox, "");
      while (i < 3) {
        if (passwd == key) {
          break;
        }
        i++;
        var passwd = prompt("密码错误！你还有 " + (4 - i) + " 次机会。");
      }
      if (passwd != key && i == 3) {
        alert("抱歉，你已超过了输入次数！");
        location.href = "/";
      } else {
        alert("恭喜你，密码正确！");
      }
      return;
    }
    password();
  }
  var verify = document.getElementById("password");
  if (verify != null) {
    verify.parentNode.removeChild(verify);
  }
})();
</script>