---
layout: null 
---
{% if site.data.site.uiux.meng == true %}
{% if site.data.meng.head_card.switch == true %}
.head_card-offset {
	padding-top:64px
}
@media screen and (max-width:600px) {
	.head_card-offset {
		padding-top:0
	}
}
{% endif %}
{% endif %}
h1.mdui-card-primary-title {
	margin:0;
	font-weight:400
}
.mdui-typo table {
	margin:0 0 1.2em 0;
	position:relative;
	width:100%;
	border-spacing:0;
	border-collapse:separate;
	background-color:#fff;
	border:1px solid rgba(0,0,0,.12);
	border-top:none
}
.mdui-typo table th:first-child {
	padding-right:0;
	padding-left:24px
}
.mdui-typo table th {
	overflow:hidden;
	font-size:14px;
	font-weight:700;
	line-height:32px;
	color:rgba(0,0,0,.54);
	text-overflow:ellipsis;
	white-space:nowrap
}
.mdui-typo table td,.mdui-typo table th {
	position:relative;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:12px 28px;
	text-align:left;
	vertical-align:middle;
	border-top:1px solid rgba(0,0,0,.12)
}
@font-face {
	font-family:'Source Code Pro';
	font-style:normal;
	font-weight:400;
	src:local('Source Code Pro'),local('SourceCodePro-Regular'),url(../fonts/SourceCodePro.woff2) format('woff2');
	unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
.mdui-typo pre,.mdui-typo code,.mdui-typo kbd,.mdui-typo samp,.mdui-typo pre tt {
	font-family:'Source Code Pro',Consolas,Courier,'Courier New',monospace
}
body {
	display:flex;
	min-height:100vh;
	flex-direction:column;
	background-color:{{site.data.site.background.purecolor}};
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
}
::-webkit-scrollbar {
	width:10px
}
::-webkit-scrollbar-thumb {
	background:rgba(0,0,0,.1)
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(0,0,255,.4)
}
.container {
	flex:1 0 auto
}
.k-container {
	margin:0 auto;
	width:100%;
	max-width:900px;
	flex-shrink:0
}
.k-posts-list {
	padding-top:64px
}
@media screen and (max-width:600px) {
	.k-posts-list {
		padding-top:72px
	}
	.mdui-container {
		width:100%
	}
}
@media (min-width:600px) {
	footer .k-footer-sns {
		display:-webkit-box!important;
		display:-webkit-flex!important;
		display:-ms-flexbox!important;
		display:flex!important;
		-webkit-box-align:center!important;
		-webkit-align-items:center!important;
		-ms-flex-align:center!important;
		align-items:center!important
	}
}
.k-footer-icon {
	width:24px;
	height:24px;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	opacity:.7
}
{% for sns in site.data.sns %}
{% if sns.name =='bilibili' and sns.url != null %}
.k-bilibili {
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgY2xhc3M9Imljb24iIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjxwYXRoIGQ9Ik0xMzguOCA3Ny44Yy03LjggMi0zMiAxNy44LTM4LjggMjUuNi05LjYgMTAuNi0xOC40IDI1LTIxLjIgMzQtNC4yIDE0LjItNC4yIDcyMy42IDAgNzMzLjYgOC40IDIwLjIgMjkuNCA0MS42IDUzLjIgNTQuMiA2LjggMy42IDE4LjggMy44IDM3MCAzLjhoMzYzbDktNC4yYzE0LTYuOCAzMS42LTIyLjQgNDIuNi0zOCA5LjQtMTMuOCAxMC0xNS4yIDExLjYtMzIuNiAxLjItMTAuNCAxLjYtMTY2LjggMS40LTM2NS42LS42LTMxNy44LS44LTM0OC4yLTMuOC0zNTQuNi05LjItMTkuMi0yMC44LTMzLTM4LjYtNDVsLTE3LjYtMTItMzYyLjQtLjRjLTE5OS4yIDAtMzY1IC40LTM2OC40IDEuMnpNMzcxLjIgMjUxYzQuMiAxLjYgMjIuNiAxOC4yIDQ0LjYgMzkuOCAyOS44IDI5LjIgMzkgMzcuMiA0NS40IDM5IDEwLjYgMyA3My4yIDIuOCA4My4yLS4yIDYtMS44IDE1LjgtMTAuNCA0My40LTM3LjggMTkuOC0xOS42IDM5LjQtMzcuNCA0NC0zOS42IDE1LjItNy44IDMxLjYtNCA0MSA5LjQgMTAuNCAxNS4yIDguOCAyOC02IDQ0LjYtMTUgMTYuOC0xMSAyNC40IDE0LjIgMjYuOCAxOC44IDEuNiAyNS4yIDMuOCA0My44IDE0LjggMTkuMiAxMS4yIDI4IDIxIDQwLjYgNDQuOEw3NzUgNDExdjI1MGwtOS44IDE5LjZjLTEwLjQgMjAuNi0yMy44IDM1LjYtNDMgNDcuNi0xOC44IDEyLTE4LjYgMTItMjI2LjIgMTEuNGwtMTg5LS42LTExLjgtNC44Yy02LjQtMi42LTE4LjYtMTAuMi0yNi44LTE3LTE2LTEyLjgtMjUuNi0yNi40LTM1LTQ5LjItNC40LTExLTQuNC0xMS40LTQuNC0xMzIuMlY0MTQuNmwxMC40LTIxYzguNC0xNi44IDEzLTIzLjQgMjIuNi0zMi4yIDE3LjItMTYgMzkuMi0yNi40IDU5LjItMjguNCAyNy4yLTIuNCAzMS4yLTkuMiAxNS44LTI3LjItNS01LjgtOS42LTEzLjQtMTAuMi0xNy4yLTUuMi0yNy40IDE5LjQtNDguMiA0NC40LTM3LjZ6Ii8+PHBhdGggZD0iTTMzMC4yIDQwMC40Yy05IDEuNi0xNSA1LjQtMjMgMTUtMTEuNCAxMy40LTExLjIgMTItMTEuMiAxMjAuNnMtLjIgMTA1LjYgMTEuMiAxMjIuNEMzMTggNjczLjggMzA3IDY3MyA0OTIgNjczLjZjOTAuOC40IDE3MC42IDAgMTc3LjQtLjYgMTUuNi0xLjYgMjMuNi02LjggMzIuMi0yMWw2LjQtMTAuOFY1MzcuOGMwLTY4LS44LTEwNS40LTIuMi0xMDkuMi0zLTgtMTUuMi0yMi4yLTIyLjItMjUuOC01LjItMi42LTI2LjYtMy4yLTE3NS42LTMuNC05My40LS4yLTE3My40LjItMTc3LjggMXptNzguNCA3MC40YzkuNiA0IDIyLjggMTcuOCAyNS4yIDI2LjYgMi44IDkuOCAyLjggMzMuNCAwIDQzLjItMi40IDguNi0xMS44IDIwLjItMjAgMjQuNi04IDQtMjMuNiAzLjYtMzEtMS0zLjYtMi4yLTguNC04LTExLTEzLjYtNC4yLTguNC00LjgtMTIuNC00LjgtMzEuOCAwLTIxIC4yLTIyLjYgNi0zMS44IDQtNi40IDktMTEuMiAxNC44LTE0LjQgMTAuMi01LjQgMTIuMi01LjYgMjAuOC0xLjh6bTIwNiAwYzIwIDguMiAyOS4yIDM2LjQgMjIuMiA2Ny40LTIuOCAxMi00LjggMTYuMi0xMC44IDIyLjItNyA3LTguNCA3LjYtMTguOCA3LjYtMTkgMC0zMC42LTkuMi0zNi40LTI5LjItMy42LTEyLjQtMi40LTM3LjggMi4yLTQ2LjggNS05LjYgMjQtMjQgMzEuNi0yNCAyIDAgNi40IDEuMiAxMCAyLjh6Ii8+PC9zdmc+');
}
{% elsif sns.name =='facebook' and sns.url != null %}
.k-facebook {
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA0IDI1NkM1MDQgMTE5IDM5MyA4IDI1NiA4UzggMTE5IDggMjU2YzAgMTIzLjc4IDkwLjY5IDIyNi4zOCAyMDkuMjUgMjQ1VjMyNy42OWgtNjNWMjU2aDYzdi01NC42NGMwLTYyLjE1IDM3LTk2LjQ4IDkzLjY3LTk2LjQ4IDI3LjE0IDAgNTUuNTIgNC44NCA1NS41MiA0Ljg0djYxaC0zMS4yOGMtMzAuOCAwLTQwLjQxIDE5LjEyLTQwLjQxIDM4LjczVjI1Nmg2OC43OGwtMTEgNzEuNjloLTU3Ljc4VjUwMUM0MTMuMzEgNDgyLjM4IDUwNCAzNzkuNzggNTA0IDI1NnoiLz48L3N2Zz4=');
}
{% elsif sns.name =='github' and sns.url != null %}
.k-github {
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTYgNTEyIj48cGF0aCBkPSJNMTY1LjkgMzk3LjRjMCAyLTIuMyAzLjYtNS4yIDMuNi0zLjMuMy01LjYtMS4zLTUuNi0zLjYgMC0yIDIuMy0zLjYgNS4yLTMuNiAzLS4zIDUuNiAxLjMgNS42IDMuNnptLTMxLjEtNC41Yy0uNyAyIDEuMyA0LjMgNC4zIDQuOSAyLjYgMSA1LjYgMCA2LjItMnMtMS4zLTQuMy00LjMtNS4yYy0yLjYtLjctNS41LjMtNi4yIDIuM3ptNDQuMi0xLjdjLTIuOS43LTQuOSAyLjYtNC42IDQuOS4zIDIgMi45IDMuMyA1LjkgMi42IDIuOS0uNyA0LjktMi42IDQuNi00LjYtLjMtMS45LTMtMy4yLTUuOS0yLjl6TTI0NC44IDhDMTA2LjEgOCAwIDExMy4zIDAgMjUyYzAgMTEwLjkgNjkuOCAyMDUuOCAxNjkuNSAyMzkuMiAxMi44IDIuMyAxNy4zLTUuNiAxNy4zLTEyLjEgMC02LjItLjMtNDAuNC0uMy02MS40IDAgMC03MCAxNS04NC43LTI5LjggMCAwLTExLjQtMjkuMS0yNy44LTM2LjYgMCAwLTIyLjktMTUuNyAxLjYtMTUuNCAwIDAgMjQuOSAyIDM4LjYgMjUuOCAyMS45IDM4LjYgNTguNiAyNy41IDcyLjkgMjAuOSAyLjMtMTYgOC44LTI3LjEgMTYtMzMuNy01NS45LTYuMi0xMTIuMy0xNC4zLTExMi4zLTExMC41IDAtMjcuNSA3LjYtNDEuMyAyMy42LTU4LjktMi42LTYuNS0xMS4xLTMzLjMgMi42LTY3LjkgMjAuOS02LjUgNjkgMjcgNjkgMjcgMjAtNS42IDQxLjUtOC41IDYyLjgtOC41czQyLjggMi45IDYyLjggOC41YzAgMCA0OC4xLTMzLjYgNjktMjcgMTMuNyAzNC43IDUuMiA2MS40IDIuNiA2Ny45IDE2IDE3LjcgMjUuOCAzMS41IDI1LjggNTguOSAwIDk2LjUtNTguOSAxMDQuMi0xMTQuOCAxMTAuNSA5LjIgNy45IDE3IDIyLjkgMTcgNDYuNCAwIDMzLjctLjMgNzUuNC0uMyA4My42IDAgNi41IDQuNiAxNC40IDE3LjMgMTIuMUM0MjguMiA0NTcuOCA0OTYgMzYyLjkgNDk2IDI1MiA0OTYgMTEzLjMgMzgzLjUgOCAyNDQuOCA4ek05Ny4yIDM1Mi45Yy0xLjMgMS0xIDMuMy43IDUuMiAxLjYgMS42IDMuOSAyLjMgNS4yIDEgMS4zLTEgMS0zLjMtLjctNS4yLTEuNi0xLjYtMy45LTIuMy01LjItMXptLTEwLjgtOC4xYy0uNyAxLjMuMyAyLjkgMi4zIDMuOSAxLjYgMSAzLjYuNyA0LjMtLjcuNy0xLjMtLjMtMi45LTIuMy0zLjktMi0uNi0zLjYtLjMtNC4zLjd6bTMyLjQgMzUuNmMtMS42IDEuMy0xIDQuMyAxLjMgNi4yIDIuMyAyLjMgNS4yIDIuNiA2LjUgMSAxLjMtMS4zLjctNC4zLTEuMy02LjItMi4yLTIuMy01LjItMi42LTYuNS0xem0tMTEuNC0xNC43Yy0xLjYgMS0xLjYgMy42IDAgNS45IDEuNiAyLjMgNC4zIDMuMyA1LjYgMi4zIDEuNi0xLjMgMS42LTMuOSAwLTYuMi0xLjQtMi4zLTQtMy4zLTUuNi0yeiIvPjwvc3ZnPg==');
}
{% elsif sns.name =='gplus' and sns.url != null %}
.k-gplus {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9Ii0xNDMgMTQ1IDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTE0MyAxNDUgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwYXRoIGQ9Ik0xMDkuMiwzMzIuNWMtMy41LTI2LjgtMjIuOS00OC4zLTQzLjQtNDljLTIwLjQtMC42LTM0LjEsMTkuOS0zMC42LDQ2LjdjMy41LDI2LjgsMjIuOSw0OS4xLDQzLjQsNDkuNwoJCUM5OS4xLDM4MC42LDExMi44LDM1OS4zLDEwOS4yLDMzMi41eiIvPgoJPHBhdGggZD0iTTk1LjcsNDM1LjJjLTYtMS45LTEyLjYtMy4xLTE5LjctMy4yYy0zMC40LTAuMy01Ny43LDE4LjYtNTcuNyw0MS4yYzAsMjMuMSwyMiw0Mi40LDUyLjQsNDIuNGM0Mi44LDAsNTcuNy0xOC4xLDU3LjctNDEuMgoJCWMwLTIuOC0wLjMtNS41LTEtOC4yQzEyNCw0NTMuMiwxMTIuMiw0NDYuNyw5NS43LDQzNS4yeiIvPgoJPHBhdGggZD0iTTExMywxNDVjLTE0MS40LDAtMjU2LDExNC42LTI1NiwyNTZzMTE0LjYsMjU2LDI1NiwyNTZzMjU2LTExNC42LDI1Ni0yNTZTMjU0LjQsMTQ1LDExMywxNDV6IE03MC44LDUyOC4zCgkJYy00NCwwLTgxLjItMTcuOS04MS4yLTQ2LjVjMC0yOS4xLDMzLjktNTcuMSw3Ny45LTU3LjFjNC44LDAsOS4yLTAuMSwxMy43LTAuMWMtNi01LjktMTAuOC0xMy4xLTEwLjgtMjEuOWMwLTUuMiwxLjctMTAuMyw0LTE0LjgKCQljLTIuNCwwLjItNC44LDAuMi03LjMsMC4yYy0zNi4yLDAtNjAuNC0yNS43LTYwLjQtNTcuNmMwLTMxLjIsMzMuNS01OC4xLDY5LTU4LjFIMTU1bC0xNy43LDEyLjdoLTI1LjEKCQljMTYuNyw2LjQsMjUuNiwyNS45LDI1LjYsNDUuOGMwLDE2LjctOS4zLDMxLjEtMjIuNCw0MS40Yy0xMi44LDEwLTE1LjIsMTQuMi0xNS4yLDIyLjdjMCw3LjMsMTMuNywxOS42LDIwLjksMjQuNwoJCWMyMSwxNC44LDI3LjcsMjguNiwyNy43LDUxLjVDMTQ4LjcsNDk5LjgsMTIxLDUyOC4zLDcwLjgsNTI4LjN6IE0yMzYuNCw0MDcuMWgtMzAuOVY0MzhoLTI0Ljh2LTMwLjloLTMwLjl2LTI0LjhoMzAuOXYtMzAuOWgyNC44CgkJdjMwLjloMzAuOVY0MDcuMXoiLz4KPC9nPgo8L3N2Zz4K');
}
{% elsif sns.name =='instagram' and sns.url != null %}
.k-instagram {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9Ii0xNDMgMTQ1IDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTE0MyAxNDUgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxwYXRoIGQ9Ik0xMTMsNDQ2YzI0LjgsMCw0NS4xLTIwLjIsNDUuMS00NS4xYzAtOS44LTMuMi0xOC45LTguNS0yNi4zYy04LjItMTEuMy0yMS41LTE4LjgtMzYuNS0xOC44cy0yOC4zLDcuNC0zNi41LDE4LjgKCQljLTUuMyw3LjQtOC41LDE2LjUtOC41LDI2LjNDNjgsNDI1LjgsODguMiw0NDYsMTEzLDQ0NnoiLz4KCTxwb2x5Z29uIHBvaW50cz0iMjExLjQsMzQ1LjkgMjExLjQsMzA4LjEgMjExLjQsMzAyLjUgMjA1LjgsMzAyLjUgMTY4LDMwMi42IDE2OC4yLDM0NiAJIi8+Cgk8cGF0aCBkPSJNMTgzLDQwMWMwLDM4LjYtMzEuNCw3MC03MCw3MGMtMzguNiwwLTcwLTMxLjQtNzAtNzBjMC05LjMsMS45LTE4LjIsNS4yLTI2LjNIMTB2MTA0LjhDMTAsNDkzLDIxLDUwNCwzNC41LDUwNGgxNTcKCQljMTMuNSwwLDI0LjUtMTEsMjQuNS0yNC41VjM3NC43aC0zOC4yQzE4MS4yLDM4Mi44LDE4MywzOTEuNywxODMsNDAxeiIvPgoJPHBhdGggZD0iTTExMywxNDVjLTE0MS40LDAtMjU2LDExNC42LTI1NiwyNTZzMTE0LjYsMjU2LDI1NiwyNTZzMjU2LTExNC42LDI1Ni0yNTZTMjU0LjQsMTQ1LDExMywxNDV6IE0yNDEsMzc0Ljd2MTA0LjgKCQljMCwyNy4zLTIyLjIsNDkuNS00OS41LDQ5LjVoLTE1N0M3LjIsNTI5LTE1LDUwNi44LTE1LDQ3OS41VjM3NC43di01Mi4zYzAtMjcuMywyMi4yLTQ5LjUsNDkuNS00OS41aDE1NwoJCWMyNy4zLDAsNDkuNSwyMi4yLDQ5LjUsNDkuNVYzNzQuN3oiLz4KPC9nPgo8L3N2Zz4K');
}
{% elsif sns.name =='linkedin' and sns.url != null %}
.k-linkedin	{
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9Ii0xNDMgMTQ1IDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTE0MyAxNDUgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNMTEzLDE0NWMtMTQxLjQsMC0yNTYsMTE0LjYtMjU2LDI1NnMxMTQuNiwyNTYsMjU2LDI1NnMyNTYtMTE0LjYsMjU2LTI1NlMyNTQuNCwxNDUsMTEzLDE0NXogTTQxLjQsNTA4LjFILTguNVYzNDguNGg0OS45CglWNTA4LjF6IE0xNS4xLDMyOC40aC0wLjRjLTE4LjEsMC0yOS44LTEyLjItMjkuOC0yNy43YzAtMTUuOCwxMi4xLTI3LjcsMzAuNS0yNy43YzE4LjQsMCwyOS43LDExLjksMzAuMSwyNy43CglDNDUuNiwzMTYuMSwzMy45LDMyOC40LDE1LjEsMzI4LjR6IE0yNDEsNTA4LjFoLTU2LjZ2LTgyLjZjMC0yMS42LTguOC0zNi40LTI4LjMtMzYuNGMtMTQuOSwwLTIzLjIsMTAtMjcsMTkuNgoJYy0xLjQsMy40LTEuMiw4LjItMS4yLDEzLjF2ODYuM0g3MS44YzAsMCwwLjctMTQ2LjQsMC0xNTkuN2g1Ni4xdjI1LjFjMy4zLTExLDIxLjItMjYuNiw0OS44LTI2LjZjMzUuNSwwLDYzLjMsMjMsNjMuMyw3Mi40VjUwOC4xegoJIi8+Cjwvc3ZnPgo=');
}
{% elsif sns.name =='telegram' and sns.url != null %}
.k-telegram	{
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OTYgNTEyIj48cGF0aCBkPSJNMjQ4IDhDMTExIDggMCAxMTkgMCAyNTZzMTExIDI0OCAyNDggMjQ4IDI0OC0xMTEgMjQ4LTI0OFMzODUgOCAyNDggOHptMTIxLjggMTY5LjlsLTQwLjcgMTkxLjhjLTMgMTMuNi0xMS4xIDE2LjktMjIuNCAxMC41bC02Mi00NS43LTI5LjkgMjguOGMtMy4zIDMuMy02LjEgNi4xLTEyLjUgNi4xbDQuNC02My4xIDExNC45LTEwMy44YzUtNC40LTEuMS02LjktNy43LTIuNWwtMTQyIDg5LjQtNjEuMi0xOS4xYy0xMy4zLTQuMi0xMy42LTEzLjMgMi44LTE5LjdsMjM5LjEtOTIuMmMxMS4xLTQgMjAuOCAyLjcgMTcuMiAxOS41eiIvPjwvc3ZnPg==');
}
{% elsif sns.name =='tumblr' and sns.url != null %}
.k-tumblr {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9Ii0xNDMgMTQ1IDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTE0MyAxNDUgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNMTEzLDE0NWMtMTQxLjQsMC0yNTYsMTE0LjYtMjU2LDI1NnMxMTQuNiwyNTYsMjU2LDI1NnMyNTYtMTE0LjYsMjU2LTI1NlMyNTQuNCwxNDUsMTEzLDE0NXogTTE4NS4yLDUxNUgxODUKCWMtMTEsNS4xLTIwLjgsOC44LTI5LjcsMTAuOGMtOC45LDIuMS0xOC41LDMuMS0yOC44LDMuMWMtMTEuNywwLTIyLjEtMS41LTMxLTQuNGMtOS0zLTE2LjctNy4yLTIzLTEyLjYKCWMtNi40LTUuNS0xMC44LTExLjMtMTMuMi0xNy41Yy0yLjUtNi4yLTMuNy0xNS4xLTMuNy0yNi44di04OS44SDI3LjN2LTM2LjJjMTAuMS0zLjMsMTguNy04LDI1LjktMTQuMWM3LjItNi4xLDEyLjktMTMuNCwxNy4zLTIyCgljNC4zLTguNSw3LjMtMTkuNCw5LTMyLjZoMzYuNHY2NC43aDYwLjd2NDAuMmgtNjAuN3Y2NS42YzAsMTQuOSwwLjgsMjQuNCwyLjQsMjguNmMxLjYsNC4yLDQuNSw3LjYsOC44LDEwLjEKCWM1LjYsMy40LDEyLjEsNS4xLDE5LjQsNS4xYzEzLDAsMjUuOC00LjIsMzguNy0xMi42VjUxNXoiLz4KPC9zdmc+Cg==');
}
{% elsif sns.name =='twitter' and sns.url != null %}
.k-twitter {
	background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9Ii0xNDMgMTQ1IDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgLTE0MyAxNDUgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNMTEzLDE0NWMtMTQxLjQsMC0yNTYsMTE0LjYtMjU2LDI1NnMxMTQuNiwyNTYsMjU2LDI1NnMyNTYtMTE0LjYsMjU2LTI1NlMyNTQuNCwxNDUsMTEzLDE0NXogTTIxNS4yLDM2MS4yCgljMC4xLDIuMiwwLjEsNC41LDAuMSw2LjhjMCw2OS41LTUyLjksMTQ5LjctMTQ5LjcsMTQ5LjdjLTI5LjcsMC01Ny40LTguNy04MC42LTIzLjZjNC4xLDAuNSw4LjMsMC43LDEyLjYsMC43CgljMjQuNiwwLDQ3LjMtOC40LDY1LjMtMjIuNWMtMjMtMC40LTQyLjUtMTUuNi00OS4xLTM2LjVjMy4yLDAuNiw2LjUsMC45LDkuOSwwLjljNC44LDAsOS41LTAuNiwxMy45LTEuOQoJQzEzLjUsNDMwLTQuNiw0MDguNy00LjYsMzgzLjJ2LTAuNmM3LjEsMy45LDE1LjIsNi4zLDIzLjgsNi42Yy0xNC4xLTkuNC0yMy40LTI1LjYtMjMuNC00My44YzAtOS42LDIuNi0xOC43LDcuMS0yNi41CgljMjYsMzEuOSw2NC43LDUyLjgsMTA4LjQsNTVjLTAuOS0zLjgtMS40LTcuOC0xLjQtMTJjMC0yOSwyMy42LTUyLjYsNTIuNi01Mi42YzE1LjEsMCwyOC44LDYuNCwzOC40LDE2LjYKCWMxMi0yLjQsMjMuMi02LjcsMzMuNC0xMi44Yy0zLjksMTIuMy0xMi4zLDIyLjYtMjMuMSwyOS4xYzEwLjYtMS4zLDIwLjgtNC4xLDMwLjItOC4zQzIzNC40LDM0NC41LDIyNS41LDM1My43LDIxNS4yLDM2MS4yeiIvPgo8L3N2Zz4K');
}
{% elsif sns.name =='weibo' and sns.url != null %}
.k-weibo {
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjxwYXRoIGQ9Ik01MTIgMEMyMjkuMiAwIDAgMjI5LjIgMCA1MTJzMjI5LjIgNTEyIDUxMiA1MTIgNTEyLTIyOS4yIDUxMi01MTJTNzk0LjggMCA1MTIgMHptLTUyLjMgNzc2LjRjLTEzNS44IDAtMjc0LjYtNjUuOC0yNzQuNi0xNzQgMC01Ni42IDM1LjgtMTIyIDk3LjYtMTgzLjggODIuNC04Mi40IDE3OC42LTEyMCAyMTQuNy04My44IDE2IDE1LjkgMTcuNSA0My41IDcuMiA3Ni41LTUuMyAxNi42IDE1LjYgNy40IDE1LjYgNy40IDY2LjYtMjcuOSAxMjQuOC0yOS41IDE0NiAuOCAxMS4zIDE2LjIgMTAuMiAzOC45LS4yIDY1LjItNC44IDEyLjEgMS41IDE0IDEwLjcgMTYuNyAzNy41IDExLjcgNzkuMyAzOS44IDc5LjMgODkuNCAwIDgyLjItMTE4LjQgMTg1LjYtMjk2LjMgMTg1LjZ6bTI0NS43LTM0NC4yYzQuNC0xMy42IDEuNi0yOS04LjYtNDAuNC0xMC4yLTExLjMtMjUuMy0xNS42LTM5LjMtMTIuNy0xMS42IDIuNS0yMy4xLTQuOS0yNS42LTE2LjUtMi41LTExLjcgNC45LTIzLjEgMTYuNi0yNS42IDI4LjUtNi4xIDU5LjQgMi44IDgwLjMgMjYgMjEgMjMuMiAyNi42IDU0LjggMTcuNiA4Mi42LTMuNyAxMS4zLTE1LjggMTcuNS0yNy4yIDEzLjktMTEuMi0zLjgtMTcuNC0xNi0xMy44LTI3LjN6bTEyNS43IDQwLjZjMCAuMSAwIC4xIDAgMC00LjMgMTMuMi0xOC40IDIwLjUtMzEuNSAxNi4yLTEzLjItNC4zLTIwLjQtMTguNC0xNi4xLTMxLjYgMTMuMS00MC41IDQuOC04Ni43LTI1LjctMTIwLjUtMzAuNi0zMy44LTc1LjYtNDYuOC0xMTcuMy0zOC0xMy41IDIuOS0yNi45LTUuOC0yOS43LTE5LjMtMi45LTEzLjUgNS43LTI2LjkgMTkuMy0yOS43IDU4LjUtMTIuNCAxMjEuOSA1LjcgMTY0LjkgNTMuNCA0Mi45IDQ3LjcgNTQuNSAxMTIuNiAzNi4xIDE2OS41ek00MzQuNiA0ODBjLTEwOC4zIDEwLjctMTkwLjUgNzctMTgzLjQgMTQ4LjIgNyA3MS4xIDEwMC42IDEyMC4xIDIwOC45IDEwOS40IDEwOC4zLTEwLjcgMTkwLjUtNzcuMSAxODMuNC0xNDguMi03LjEtNzEuMS0xMDAuNi0xMjAuMS0yMDguOS0xMDkuNHptOTUgMTY3LjhjLTIyLjEgNTAtODUuNyA3Ni43LTEzOS43IDU5LjMtNTIuMS0xNi44LTc0LjEtNjguMy01MS4zLTExNC42IDIyLjQtNDUuNCA4MC43LTcxLjEgMTMyLjItNTcuNyA1My40IDEzLjcgODAuNiA2NC4xIDU4LjggMTEzem0tMTEwLjItMzguMWMtMTYuOC03LTM4LjUuMi00OC44IDE2LjQtMTAuNSAxNi4zLTUuNiAzNS43IDExLjEgNDMuMyAxNi45IDcuNyAzOS4zLjQgNDkuOC0xNi4zIDEwLjMtMTYuOSA0LjktMzYuMi0xMi4xLTQzLjR6bTQxLjMtMTcuMmMtNi40LTIuNS0xNC41LjUtMTguMyA2LjktMy43IDYuNC0xLjYgMTMuNiA0LjggMTYuMyA2LjYgMi43IDE0LjktLjQgMTguNy02LjkgMy43LTYuNiAxLjQtMTMuOS01LjItMTYuM3oiLz48L3N2Zz4=');
}
{% elsif sns.name =='zhihu' and sns.url != null %}
.k-zhihu {
	background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPjxwYXRoIGQ9Ik0zNTMuMjIgNTY0LjE3N2gxOTIuNTI4YzAtNDUuOTk1LTIxLjMyLTcyLjkzNC0yMS4zMi03Mi45MzRoLTE2Ny4xMmMzLjk3LTgzLjI5OCA3LjUyNy0xOTAuMTkxIDguODIxLTIyOS45MTRoMTU4Ljk0NnMtLjg4Mi02OC4zMDUtMTguNTI2LTY4LjMwNUgyMjcuMDkyczE2LjgyMS04OS4zMzEgMzkuMjMtMTI4Ljc4NWMwIDAtODMuNDI5LTQuNTctMTExLjg5NSAxMDguNDE2LTI4LjQ2NiAxMTIuOTg2LTcxLjEzNiAxODEuMjktNzUuNjM1IDE5My43NzUtNC41MjkgMTIuNDg0IDI0LjU1NSA1LjkxMyAzNi44NDcgMCAxMi4yOTItNS45MTQgNjcuOTMtMjYuMjgzIDg0LjEwNS0xMDUuMWg4Ni4zNjhjMS4xNzcgNDkuOTY2IDQuNTg4IDIwMy4wNjMgMy41MyAyMjkuOTEzSDExMS43NTZjLTI1LjIzMSAxOC4zOTgtMzMuNjEyIDcyLjkzNC0zMy42MTIgNzIuOTM0aDIwMy4yOTJjLTguNDk5IDU3LjAxNi0yMy4zNzkgMTMwLjUxNy00NC4yIDE2OS40NjQtMzIuOTY1IDYxLjc5NC01MC40MzMgMTE4LjI3Mi0xNjkuNDE0IDIxNS40NTggMCAwLTE5LjQwOSAxNC40NTUgNDAuNzI5IDkuMTk5IDYwLjE2Ny01LjI1NyAxMTcuMDctMjEuMDI3IDE1Ni41MzQtMTAxLjE1OWExMDQ3LjI2MyAxMDQ3LjI2MyAwIDAgMSA1OC4yNTYtMTQ4LjEzOGwtLjA1OS4yMDkgMTY3LjUzMyAxOTUuODk1czIxLjk5Ni01Mi41NjUgNS44MjItMTEwLjM1N2wtMTI0LjE4Ni0xNDEuMjctNDIuMDUyIDMxLjYtLjAzLjE0OWMxMS42NzUtNDEuNTc1IDIwLjA1Ni04Mi42NzEgMjIuNjczLTExOC40MjJsLjIwNi0yLjYyOGgtLjAzek01ODUuODYgMTc4LjU3djY3Ny45MTNoNzAuMTY1bDI4Ljc2IDgxLjYyNiAxMjEuNjI5LTgxLjYyNmgxNTMuM1YxNzguNTdINTg1Ljg2em0zMDEuNjMgNjA1LjAwOWgtNzkuNjk0bC05OS4zNjcgNjYuNjYyLTIzLjQ5Ni02Ni42NjJoLTI0Ljc5VjI1NC4yMkg4ODcuNDZ2NTI5LjM1N2guMDN6Ii8+PC9zdmc+');
}
{% endif %}
{% endfor %}